@charset "UTF-8";

body{
	width: 1440px;
	font-family: "游ゴシック体" , "游ゴシック", "Yu Gothic", sans-serif;
	background-color: rgba(244, 244, 244, 1);
}

header{
	background-image: url(../img/MV.png);
	background-size: cover;
	width: 1440px;
	height: 960px;
}
h1{
	font-family: 'Montserrat';
	color: #ffffff;
	font-size: 36px;
	font-weight: 500;
	padding-top: 25px;
	padding-left: 40px;
	font-variant-ligatures: none;
	letter-spacing: .3em;
	font-feature-settings: "palt";
}
.gnav{
	margin: 12px 0 0;
	text-align: center;
	font-feature-settings: "palt";
}
.gnav ul{
	display: flex;
	margin-left: 259px;
}
.gnav ul li{
	margin: 0 135px 0 0;
}
.gnav a{
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	font-size: 18px;
}
header .heading{
	font-size: 80px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	margin: 218.5px 0 0;
	font-feature-settings: "palt";
}
header .heading_top{
	letter-spacing: .05em;
}
header .heading_bottom{
	margin-top: 39px;
	letter-spacing: .05em;
}
header .btn{
	display: flex;
	justify-content: center;
	margin-top: 100px;
	font-feature-settings: "palt";
}
header .btn>div{
	width: 226px;
}
header .btn a{
	text-decoration: none;
	display: block;
	font-size: 19px;
	color: #ffffff;
	text-align: center;
	letter-spacing: .05em;
	border: 2px solid #ffffff;
	border-radius: 30px;
	line-height: 2.4;
	font-feature-settings: "palt";
}
header .btn a:hover{
	color: #f44336;
	border-color: #f44336;
}
header .btn .contactBtn{
	margin-right: 19px;
}
header .btn .moreBtn{
	margin-left: 12px;
}
header .btn .moreBtn a{
	padding-left: 6px;
}


.aboutus{
	display: flex;
}
.aboutus img{
	margin-top: -127px;
	margin-left: 134px;
}
.aboutus .text_main{
	font-family: 'Montserrat';
	font-size: 36px;
	font-weight: bold;
	color: #f44336;
	position: relative;
	margin-top: 55px;
	margin-left: 60px;
}
.aboutus .text_main::before{
	content: "";
	position: absolute;
	width: 170px;
	border-top: 2px solid #000000;
	top: 18px;
	left: -185px;
}
.aboutus .text_sub{
	font-family: 'Montserrat';
	font-size: 22px;
	font-weight: bold;
	color: #313439;
	margin-top: 63px;
	margin-left: 60px;
	font-feature-settings: "palt";
	letter-spacing: .025em;
}
.aboutus p{
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	margin-top: 24px;
	margin-left: 61.5px;
	font-feature-settings: "palt";
	line-height: 1.786;
}
.aboutus .moreBtn{
	width: 200px;
	padding: 18px 0;
	background-color: #f44336;
	text-align: center;
	margin-top: 27px;
	margin-left: 61px;
}
.aboutus a{
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
	font-feature-settings: "palt";
	letter-spacing: .045em;
}

h2{
	font-family: 'Montserrat';
	color: #212121;
	font-size: 50px;
	text-align: center;
	font-weight: bold;
	letter-spacing: .05em;
	line-height: 1;
	font-feature-settings: "palt";
}

.ourservices{
	margin-top: 207px;
}
.ourservices h2{
 letter-spacing: .08em;	
}
.ourservices .content{
	display: flex;
	justify-content: center;
	margin-top: 163px;
}
.ourservices .img{
	width: 500px;
	height: 535px;
	box-shadow: 40px #000000;
	margin-right: 30.5px;
	position: relative;
}
.ourservices .img::before{
	content: "";
	position: absolute;
	width: 302.5px;
	height: 533.5px;
	background-color: #f44336;
	z-index: -1;
	top: -66.5px;
	left: -71.5px;
}
.ourservices .textArea{
	background-color: #ffffff;
	padding: 107px 31px 0 69px;
	box-shadow: 40px #000000;
	position: relative;
}
.ourservices .textArea::after{
	content: "";
	position: absolute;
	width: 280px;
	height: 530px;
	border: 10px solid #f44336;
	border-radius: 2px;
	z-index: -1;
	top: 32px;
	right: -67px;
}
.ourservices .textArea .text{
	font-size: 24px;
	font-weight: 700;
	color: #2e2e2e;
	font-feature-settings: "palt";
}
.ourservices .textArea p{
	color: #000000;
	font-size: 14px;
	font-weight: 600;
	width: 400px;
	white-space: pre-line;
	line-height: 1.571;
	padding-top: 14.5px;
	font-feature-settings: "palt";
	letter-spacing: .006em;
}
.ourservices .moreBtn{
	width: 199px;
	border: 1px solid #f44336;
	text-align: center;
	margin-top: 51.8px;
	line-height: 2.98;
	border-radius: 2px;
}
.ourservices a{
	text-decoration: none;
	color: #000000;
	font-size: 14px;
	font-weight: 700;
	font-feature-settings: "palt";
	margin-left: 6.5px;
}

.news{
	margin-top: 278px;
}
.news h2{
	width: 400px;
	margin: 0 auto;
	letter-spacing: .05em;
}
.news .content{
	margin-top: 75px;
	font-feature-settings: "palt";
}
.news .content li{
	background-color: #ffffff;
	padding: 66px 0 0;
}
.news li .textArea{
	width: 230px;
	margin-left: 17.5px;
}
.news li .blogTitle{
	font-size: 24px;
	color: #212121;
	letter-spacing: .05em;
	line-height: 1.6;
}
.news li p{
	color: #010101;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.56;
	margin-top: 28.2px;
	text-align: justify;
}
.news li .viewBtn{
	width: 122px;
	border: 2px solid #303030;
	text-align: center;
	border-radius: 3px;
	margin: 30px 0 0 50px;
}
.news li .viewBtn a{
	text-decoration: none;
	font-size: 14px;
	font-weight: 500;
	color: #212121;
	letter-spacing: .05em;
	line-height: 2;
}
.news .content .item1{
	width: 563px;
	background-color: #ffffff;
	padding-top: 0;
	position: relative;
}
.news .content .item1::before{
	content: url(../img/ラベル.png);
	position: absolute;
	left: 32px;
}
.news .item1 .textArea{
	width: 531px;
	padding-top: 83px;
	margin-left: 0;
}
.news .item1 .blogTitle{
	font-size: 36px;
	color: #212121;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: .05em;
	margin-left: 15px;
}
.news .item1 p{
	width: 531px;
	font-size: 16px;
	font-weight: 500;
	margin-top: 21.5px;
	margin-left: 13.5px;
	line-height: 1.56;
	text-align: justify;
	font-feature-settings: "palt";
}
.news .item1 .viewBtn{
	width: 167px;
	border: 3px solid #212121;
	text-align: center;
	margin: 45px 0 0 16.9px;
	padding: 0;
}
.news .item1 .viewBtn a{
	text-decoration: none;
	font-size: 19px;
	font-weight: 500;
	color: #212121;
	line-height: 2.35;
}
.news .blog{
	width: 1167px;
	display: grid;
	grid-template-rows: 376.5px 376.5px;
	grid-template-columns: 561px 1fr 1fr;
	column-gap: 42px;
	row-gap: 42px;
	margin: 0 auto;
}
.news .item1{
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 2;
}
.news .item2{
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 3;
}
.news .item3{
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 3;
	grid-column-end: 4;
}
.news .item4{
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;
}
.news .item5{
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 3;
	grid-column-end: 4;
}


.instagram{
	margin-top: 141px;
}
.instagram h2{
	width: 339px;
	margin: 0 auto;
	letter-spacing: .05em;
}
.instagram .slide{
	margin-top: 70px;
}

footer{
	margin-top: 195.5px;
}
footer .footMenu{
	display: flex;
	margin-left: 182px;
	font-feature-settings: "palt";
}
footer .item1 ul{
	margin-top: 25.2px;
}
footer .item2 ul{
	margin-top: 25px;
}
footer .item3 ul{
	margin-top: 26px;
}
footer .menu_title{
	font-family: "Noto Serif JP";
	font-size: 14px;
	font-weight: bold;
	color: #5b5b5b;
	line-height: 1.7;
}
footer li{
	font-family: "kozuka-gothic-pr6n";
	font-size: 12px;
	color: #5b5b5b;
	line-height: 2;
}
footer p{
	font-family: "kozuka-gothic-pr6n";
	font-size: 12px;
	color: #5b5b5b;
	line-height: 2;
}
footer .item1{
	margin-right: 199.5px;
}
footer .item2{
	margin-right: 199px;
}
footer .item3{
	margin-right: 200.2px;
}
footer .item1 li{
	font-family: "myriad-pro";
}
footer a{
	text-decoration: none;
	color: #5b5b5b;
}
footer .item4 .address{
	margin-top: 26px;
	line-height: 1.96;
}
footer .item4 .tel{
	font-family: "myriad-pro";
	font-size: 14px;
	line-height: 1.7;
	margin-top: 23.5px;
}
footer .item4 .mail{
	font-family: "myriad-pro";
	font-size: 14px;
	line-height: 1.8;
}

footer .copyrgiht{
	font-family: "myriad-pro";
	font-size: 12px;
	color: #8c8c8c;
	font-weight: 400;
	position: relative;
	text-align: center;
	border-top: 1px solid #8c8c8c;
	padding: 18px 0 21px;
	margin-top: 97px;
	font-feature-settings: "palt";
	line-height: 2;
}
footer .copyrgiht .center{
	display: inline-block;
	margin-right: 3px;
}
footer .copyrgiht .right{
	position: absolute;
	font-size: 12px;
	right: 134.5px;
}
